.main {
    flex: 1 0 auto;
    margin-top: 30px;
    background-color: grey;
    position: relative;

}

.main__container {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}